body {
    background-color: #f5f5f5;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #0366d6;
    margin-top: 20px;
  }
  
  img {
    border-radius: 50%;
    width: 200px;
    height:200px;
    margin-top: 10px;
    transition: transform 0.2s cubic-bezier(0, 3.18, 0.66,-0.24);
  }

  .imagine{
    display: flex;
    flex-direction: row;
  }

  /* .clickme{
    width: 200px;
    height: 200px;
    justify-content: center;
    display: flex;
  } */

  .click{
    display: none;
  }

  

  
  img:hover {
    transform: scale(1.1);
  }

  .imagine:hover .click {
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    transform: translate(0%, 50%);
    display: flex;
  }
  
  strong {
    font-size: 24px;
    color: #24292e;
    margin-top: 20px;
  }
  
  pre {
    font-size: 18px;
    color: #586069;
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    font-size: 18px;
    font-weight: bold;
    color: #24292e;
    padding: 10px;
    background-color: #f6f8fa;
  }
  
  td {
    font-size: 16px;
    color: #24292e;
    padding: 10px;
    border: 1px solid #dfe2e5;
  }
  
  ul {
    font-size: 16px;
    color: #24292e;
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #0366d6;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #1a4e8a;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #24292e;
    margin-top: 20px;
  }
  
  p {
    font-size: 18px;
    color: #586069;
    margin-top: 20px;
  }
  

  .badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #6c757d;
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 0.1s ease-in-out;
  }

  .badge:hover {
    transform: scale(1.3);

  }


  .alldots{
    display: flex;
    flex-direction: row;
    height: 1.5em;
    width: 100%;
    margin-top: 0.5em;
    justify-content: center;
}

.dot{
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin: 0.25em;
    animation: dot 1s linear infinite;
}


.dot:nth-child(2){
    animation-delay: 0.2s;
}
.dot:nth-child(3){
    animation-delay: 0.4s;
}
.dot:nth-child(4){
    animation-delay: 0.6s;
}
.dot:nth-child(5){
    animation-delay: 0.8s;
}
.dot:nth-child(6){
    animation-delay: 01s;
}
.dot:nth-child(7){
    animation-delay: 01.2s;
}
.dot:nth-child(8){
    animation-delay: 01.4s;
}
.dot:nth-child(9){
    animation-delay: 01.6s;
}
.dot:nth-child(10){
    animation-delay: 1.8s;
}
.dot:nth-child(11){
    animation-delay: 2s;
}
.dot:nth-child(12){
    animation-delay: 2.2s;
}
.dot:nth-child(13){
    animation-delay: 2.4s;
}
.dot:nth-child(14){
    animation-delay: 2.6s;
}
.dot:nth-child(15){
    animation-delay: 2.8s;
}
.dot:nth-child(16){
    animation-delay: 3s;
}
.dot:nth-child(17){
    animation-delay: 3.2s;
}
.dot:nth-child(18){
    animation-delay: 3.4s;
}
.dot:nth-child(19){
    animation-delay: 3.6s;
}
.dot:nth-child(20){
    animation-delay: 3.8s;
}
.dot:nth-child(21){
    animation-delay: 4s;
}
.dot:nth-child(22){
    animation-delay: 4.2s;
}
.dot:nth-child(23){
    animation-delay: 4.4s;
}
.dot:nth-child(24){
    animation-delay: 4.6s;
}
.dot:nth-child(25){
    animation-delay: 4.8s;
}
.dot:nth-child(26){
    animation-delay: 5s;
}
.dot:nth-child(27){
    animation-delay: 5.2s;
}
.dot:nth-child(28){
    animation-delay: 5.4s;
}
.dot:nth-child(29){
    animation-delay: 5.6s;
}

@keyframes dot{
    0%{background-color: #f5f5f5;}
    50%{background-color: red;}
    100%{background-color: #f5f5f5;}
}

